#body {

}
#header {
    border-bottom: 1px solid;
}

#title {
    display: inline-block;
}
#loginButton {
    display: inline-block;
    background-color: #3c3f41;
    top: 1px;
    position: relative;
    margin-top: 0;
    cursor: pointer;
    height: 60px;
}